<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-3 col-sm-5 col-md-5 col-lg-3">
        <h1 class="page-title txt-color-blueDark">

            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-files-o"></i> Cadastros
            <span>> Resumo de cadastros
            </span>
        </h1>
    </div>
    <!-- end col -->

    <!-- Competência -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2" id="project-context">
        <span class="label">Competência:</span>
        <span class="project-selector dropdown-toggle" data-toggle="dropdown">05/2015 <i
                class="fa fa-angle-down"></i></span>

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);">05/2015 (atual)</a>
            </li>
            <li>
                <a href="javascript:void(0);">04/2015</a>
            </li>
            <li>
                <a href="javascript:void(0);">03/2015</a>
            </li>
            <li>
                <a href="javascript:void(0);">02/2015</a>
            </li>
            <li class="divider"></li>
            <!--
                  <li>
                      <a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
                  </li>
                  -->
        </ul>
        <!-- end dropdown-menu-->
    </div>
    <!-- Fim Competência -->

    <!-- right side of the page with the sparkline graphs -->
    <!-- col -->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
        <!-- sparks -->
        <ul id="sparks">
            <li class="sparks-info">
                <h5 title="85 arquivos enviados nessa competência"> Enviados
                    <span class="txt-color-blue">85</span>
                </h5>

                <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                    5, 1, 5, 6, 4, 2, 4, 3, 3
                </div>
            </li>
            <li class="sparks-info">
                <h5 title="26 arquivos geraram erro nessa competência"> Erro
                    <span class="txt-color-red"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip"
                                                   title="Increased"></i>&nbsp;26</span>
                </h5>

                <div class="sparkline txt-color-red hidden-mobile hidden-md hidden-sm">
                    1, 0, 0, 0, 2, 0, 4, 0, 1
                </div>
            </li>
            <li class="sparks-info">
                <h5 title="69 arquivos enviados com sucesso nessa competência"> Sucesso
                    <span class="txt-color-green"><i class="fa fa-arrow-circle-down"></i>&nbsp;69</span>
                </h5>

                <div class="sparkline txt-color-green hidden-mobile hidden-md hidden-sm">
                    4, 1, 5, 6, 2, 2, 0, 3, 2
                </div>
            </li>
            <li class="sparks-info">
                <h5 title="Próximo fechamento está agendado para 07/06/2015 01:00"> Próximo fechamento
                    <span class="txt-color-grey">
                        </i>07/06/2015</span>
                </h5>
            </li>
        </ul>
        <!-- end sparks -->
    </div>
    <!-- end col -->

</div>
<!-- end row -->

<!--
	The ID "widget-grid" will start to initialize all widgets below
	You do not need to use widgets if you dont want to. Simply remove
	the <section></section> and you can use wells or panels instead
	-->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- Arquivos enviados: sucesso x erro -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-arquivos-enviados" data-widget-deletebutton="false"
                 data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false"
                 data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>

                    <h2>Cadastros </h2>

                    <ul class="nav nav-tabs pull-right in" id="tabsEstatisticas">
                        <li class="active">
                            <a data-toggle="tab" href="#tabErroAcerto">
                                <span class="hidden-mobile hidden-tablet">Ok x NOK</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tabEnviadosNaoEnviados">
                                <span class="hidden-mobile hidden-tablet">Enviados x não enviados</span>
                            </a>
                        </li>
                    </ul>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="tab-content" id="tabsEstatisticasConteudo">
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="tabErroAcerto">

                                <div class="row no-space">

                                    <div id="divArquivosEnviados" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <canvas id="arquivosEnviados" width="100%" height="auto"></canvas>
                                        <div id="arquivosEnviadosLegend"></div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <canvas id="sucessoXerro" height="140"></canvas>
                                        <div id="sucessoXerroLegend">
                                            <ul class="bar-legend">
                                                <li><span style="background-color:rgba(105,187,105,0.6)">&nbsp;</span>Sucesso
                                                </li>
                                                <li><span style="background-color:rgba(220,100,100,0.6)">&nbsp;</span>Erro
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane fade" id="tabEnviadosNaoEnviados">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 show-stats">
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1005 - Estabelecimentos
                                                    <span class="pull-right">20/23</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 1
                                                    <span class="pull-right">20/23</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-blue" style="width: 86%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 2
                                                    <span class="pull-right">2/23</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 8%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 3
                                                    <span class="pull-right">12/12</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 4
                                                    <span class="pull-right">82/132</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-blue" style="width: 62%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 5
                                                    <span class="pull-right">9/10</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-blue" style="width: 90%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 6
                                                    <span class="pull-right">2/2</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 7
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1005 - Movimentação 8
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 show-stats">
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1010 - Rubricas
                                                    <span class="pull-right">2/23</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1010 - Rubricas 1
                                                    <span class="pull-right">2100/2134</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-blue" style="width: 98%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1010 - Rubricas 2
                                                    <span class="pull-right">122/122</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1010 - Rubricas 3
                                                    <span class="pull-right">11/12</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-blue" style="width: 91%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1010 - Rubricas 4
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-blue" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1020 - Lotações
                                                    <span class="pull-right">12/12</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1020 - Lotações 1
                                                    <span class="pull-right">6/6</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1020 - Lotações 2
                                                    <span class="pull-right">4/4</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1020 - Lotações 3
                                                    <span class="pull-right">2/2</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 show-stats">
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1030 - Cargos
                                                    <span class="pull-right">81/132</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1030 - Cargos 1
                                                    <span class="pull-right">13/13</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1030 - Cargos 2
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1030 - Cargos 3
                                                    <span class="pull-right">30/30</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1040 - Funções
                                                    <span class="pull-right">9/10</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1040 - Funções1
                                                    <span class="pull-right">4/4</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1040 - Funções 2
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1040 - Funções 3
                                                    <span class="pull-right">1/2</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-blue" style="width: 50%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 show-stats">
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1050 - Turnos
                                                    <span class="pull-right">2/2</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1050 - Turnos 1
                                                    <span class="pull-right">2/2</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1050 - Turnos 2
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1050 - Turnos 3
                                                    <span class="pull-right">13/13</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1050 - Turnos 4
                                                    <span class="pull-right">1/5</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 20%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 show-stats">
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1060 - Ambientes de trabalho
                                                    <span class="pull-right">2/2</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1060 - Ambientes de trabalho 1
                                                    <span class="pull-right">2/2</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1060 - Ambientes de trabalho 2
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                            S1070 - Processos admist.
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 show-stats">
                                        <div class="row linha-assunto">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titulo-assunto">
                                                <span> S1070 - Processos admist.
                                                    <span class="pull-right">0/0</span>
                                                </span>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1070 - Processos admist. 1
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-green" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1070 - Processos admist. 2
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                <span class="text"> S1070 - Processos admist. 3
                                                    <span class="pull-right">0/0</span>
                                                </span>

                                                <div class="progress">
                                                    <div class="progress-bar bg-color-red" style="width: 0%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </div>
        </article>

    </div>
    <!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">
    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
     *
     * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
     *
     * // activate tooltips
     * $("[rel=tooltip]").tooltip();
     *
     * // activate popovers
     * $("[rel=popover]").popover();
     *
     * // activate popovers with hover states
     * $("[rel=popover-hover]").popover({ trigger: "hover" });
     *
     * // activate inline charts
     * runAllCharts();
     *
     * // setup widgets
     * setup_widgets_desktop();
     *
     * // run form elements
     * runAllForms();
     *
     ********************************
     *
     * pageSetUp() is needed whenever you load a page.
     * It initializes and checks for all basic elements of the page
     * and makes rendering easier.
     *
     */

    pageSetUp();

    /*
     * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
     * eg alert("my home function");
     *
     * var pagefunction = function() {
     *   ...
     * }
     * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
     *
     * TO LOAD A SCRIPT:
     * var pagefunction = function (){
     *  loadScript(".../plugin.js", run_after_loaded);
     * }
     *
     * OR you can load chain scripts by doing
     *
     * loadScript(".../plugin.js", function(){
     * 	 loadScript("../plugin.js", function(){
     * 	   ...
     *   })
     * });
     */


    var pagefunction = function () {
        // BAR CHART
        var barOptions = {
            // Animação
            animationEasing: "easeOutBounce",
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 1,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //Boolean - Re-draw chart on page resize
            responsive: true,
            maintainAspectRatio: false,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\">&nbsp;</span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        };

        var barData = {
            labels: ["Estabelecimentos", "Rubricas", "Lotações", "Cargos", "Funções", "Turnos", "Ambientes de trabalho", "Processos admist."],
            datasets: [{
                label: "Total",
                fillColor: "rgba(151,187,205,0.6)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [23, 23, 12, 42, 10, 2, 0, 0]
            }, {
                label: "Cadastros com sucesso",
                fillColor: "rgba(105,187,105,0.6)",
                strokeColor: "rgba(105,187,105,0.8)",
                highlightFill: "rgba(105,187,105,0.75)",
                highlightStroke: "rgba(105,187,105,1)",
                data: [20, 2, 12, 32, 9, 2, 0, 0]
            }, {
                label: "Cadastros com erro",
                fillColor: "rgba(220,100,100,0.6)",
                strokeColor: "rgba(220,100,100,0.8)",
                highlightFill: "rgba(220,100,100,0.75)",
                highlightStroke: "rgba(220,100,100,1)",
                data: [3, 21, 0, 10, 1, 0, 0, 0]
            }]
        };

        // render chart
        var ctx = document.getElementById("arquivosEnviados").getContext("2d");
        arquivosEnviadosChart = new Chart(ctx).Bar(barData, barOptions);

        $('#arquivosEnviadosLegend').html(arquivosEnviadosChart.generateLegend());
        // END BAR CHART

        // PIZZA CHART
        var pieOptions = {
            //Boolean - Whether we should show a stroke on each segment
            segmentShowStroke: true,
            //String - The colour of each segment stroke
            segmentStrokeColor: "#fff",
            //Number - The width of each segment stroke
            segmentStrokeWidth: 2,
            //Number - Amount of animation steps
            animationSteps: 100,
            //String - types of animation
            animationEasing: "easeOutBounce",
            //Boolean - Whether we animate the rotation of the Doughnut
            animateRotate: true,
            //Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale: false,
            //Boolean - Re-draw chart on page resize
            responsive: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
        };
        var pieData = [{
            value: 77,
            color: "rgba(105,187,105,0.75)",
            highlight: "rgba(105,187,105,0.9)",
            label: "Sucesso"
        }, {
            value: 35,
            color: "rgba(220,100,100,0.75)",
            highlight: "rgba(220,100,100,1)",
            label: "Erro"
        }];

        // render chart
        var ctx = document.getElementById("sucessoXerro").getContext("2d");
        myNewChart_6 = new Chart(ctx).Pie(pieData, pieOptions);
        // END PIZZA CHART
    };

    // end pagefunction

    // destroy generated instances
    // pagedestroy is called automatically before loading a new page
    // only usable in AJAX version!

    var pagedestroy = function () {

        /*
         Example below:

         $("#calednar").fullCalendar( 'destroy' );
         if (debugState){
         root.console.log("✔ Calendar destroyed");
         }

         For common instances, such as Jarviswidgets, Google maps, and Datatables, are automatically destroyed through the app.js loadURL mechanic

         */
    }

    // end destroy

    // run pagefunction
    // pagefunction();

    loadScript("js/plugin/chartjs/chart.min.js", pagefunction);
</script>
